<div class="header">
  <div class="container">
    <div class="header-container">
      <div class="navigation-menu">
        <a href="#" class="logo">Fuzzy</a>
        <a href="#" class="nav-link">Neueheiten</a>
        <a href="#" class="nav-link">Damen</a>
        <a href="#" class="nav-link">Herren</a>

        <div class="kategorien-menu">
          <a href="#" class="kategorien-link">
            Kategorien <i class="bi bi-caret-down-fill" style="color: black;"></i>
          </a>
          <div class="kategorien-option">
            <a href="#" class="dropdown-item">Trends</a>
            <a href="#" class="dropdown-item">Frühlings-Mode</a>
            <a href="#" class="dropdown-item">Hochzeiten</a>
          </div>
        </div>
      </div>

      <div class="header-actions">
        <form style="padding-right: 10px;">
          <input type="text" name="text" class="search" placeholder="Oversized Pullover"/>
          <button type="submit" style="cursor:default;"><img src="search_g.png" alt="search" height="20px"/></button>
        </form>
        <a><img src="avatar_g.png" alt="avatar" height="20px"/> </a>
        <a><img src="wunschliste_g.png" alt="wunschliste" height="20px"/></a>
        <a><img src="warenkorb_g.png" alt="warenkorb" height="20px"/></a>
      </div>
    </div>
  </div>
</div>
