<div class="footer">
  <hr class="hr-line">
  <div class="benefits-section">
    <p>24h Kundenservice</p>
    <p>Versand nur 1,99Є</p>
    <p>Kostenlose Retouren</p>
    <p>Sicheres Bestellen</p>
  </div>
  <hr class="hr-line">

  <div class="container">
    <div class="parent">
      <div>
        <h5>Kundenservice</h5>
        <a>Service & Hilfe</a>
        <a>Kontaktformular</a>
        <a>Feedback</a>
        <a>Storefinder</a>
      </div>
      <div>
        <h5>Einfach Shoppen</h5>
        <a>Größentabelle</a>
        <a>Pflegetipps</a>
        <a>Materialinformationen</a>
        <a>Verfügbarkeit</a>
      </div>
      <div>
        <h5>FUZZY</h5>
        <a>Presse</a>
        <a>Jobs & Karriere</a>
        <a>Impressum</a>
        <a>Datenschutz</a>
      </div>
      <div style="padding-left:160p">
        <h5>Newsletter bestellen</h5>
        <p>Monatliche Angebote und Rabatte für Sie!</p>
        <form>
          <input type="email" name="e-mail" class="e-mail" placeholder="E-Mail"/>
          <button type="submit" class="anmelden-button"> Anmelden</button>
        </form>
      </div>
    </div>

    <hr class="hr-line">

    <div class="social-media-container">
      <p style="font-size: 12px;">© 2023 Fuzzy Clothes GmbH</p>
      <div class="social-media-links">
        <a href="https://instagram.com" target="_blank">
          <i class="bi bi-instagram"></i>
        </a>

        <a href="https://twitter.com" target="_blank">
          <i class="bi bi-twitter"></i>
        </a>

        <a href="https://facebook.com" target="_blank">
          <i class="bi bi-facebook"></i>
        </a>
      </div>
    </div>
  </div>
</div>
