<div class="banner">
  <div class="container">
    <div id="carouselDamenHerren" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselDamenHerren" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselDamenHerren" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="C_women.jpg" class="d-block w-100" alt="Frauen">
          <div class="carousel-caption d-none d-md-block" style=" background-color:black;">
            <h5>Damen-Mode</h5>
            <p>Die neuesten Cardigans für den Herbst!</p>
            <a href="#catalog" class="btn btn-primary">Zur Kollektion</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="C_men.jpg" class="d-block w-100" alt="Männer">
          <div class="carousel-caption d-none d-md-block" style=" background-color:black;">
            <h5>Männer-Mode</h5>
            <p>Die neuesten Pullover für den Herbst!</p>
            <a href="#" class="btn btn-primary">Zur Kollektion</a>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselDamenHerren"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselDamenHerren"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
